[submodule "programmingDesignParadigms/homepage_creator"]
	path = programmingDesignParadigms/homepage_creator
	url = https://github.com/kasivisu4/homepage_creator.git
[submodule "programmingDesignParadigms/pdp_homework_3_fp"]
	path = programmingDesignParadigms/pdp_homework_3_fp
	url = https://github.com/kasivisu4/pdp_homework_3_fp.git
[submodule "programmingDesignParadigms/d3-gallery"]
	path = programmingDesignParadigms/d3-gallery
	url = https://github.com/kasivisu4/d3-gallery.git
[submodule "programmingDesignParadigms/PDP_Homework_1"]
	path = programmingDesignParadigms/PDP_Homework_1
	url = https://github.com/kasivisu4/PDP_Homework_1.git
[submodule "algorithms/cordiance-experential-project"]
	path = algorithms/cordiance-experential-project
	url = https://github.com/kasivisu4/cordiance-experential-project
[submodule "naturalLanguageProccessing/hate-speech-detection"]
	path = naturalLanguageProccessing/hate-speech-detection
	url = https://github.com/kasivisu4/hate-speech-detection
[submodule "machine-learning-CS6140"]
	path = machine-learning-CS6140
	url = https://github.com/kasivisu4/machine-learning-CS6140.git
